@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-surface: #121212;
  --color-primary: #00ff9d;
  --color-secondary: #00f3ff;
  --color-accent: #7000ff;

  --font-sans: var(--font-inter);
  --font-display: var(--font-syne);
}

@layer base {
  body {
    background-color: var(--color-background);
    color: white;
  }
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
